/* 루틴 CSS */
.routine_header {
  padding: 2px 0px 0px 30px;
}
#routineBoxTitle {
  font-size: 16px;
  margin-bottom: 0px;
}

.routine-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  width: 100%;
}

.routine_box {
  background-color: #daf1ec;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  width: calc(50% - 10px);
  margin-bottom: 10px;
}

#routineTitle {
  font-size: 100%;
  font-weight: bold;
}

.routineBoxWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modeModifyButton {
  width: 20px;
  height: 20px;
  padding-top: 10px;
}

/* 모달 스타일 */
#routineModalWrap1,
#routineModalWrap2,
#routineModalWrap3,
#routineModalWrap4 {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modalPageTitle {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

#routineModalBody {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 40%;
  background: white;
}

/* 토글 버튼 스타일 */
.toggle-button {
  height: 24px;
  width: 48px;
  background-color: #ddd;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
}

.toggle-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-button.active {
  background-color: #4caf50;
}

.toggle-button.active::after {
  left: 26px;
}

/* 닫기 버튼 스타일 */
#routineCloseBtn {
  float: right;
  font-weight: bold;
  color: #777;
  font-size: 25px;
  cursor: pointer;
}
